<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title></title>
    </head>
    <body>
        
        <div class="navigation_bar" th:fragment="navigation_bar">
            <a class="anchor_button" th:href="@{/}">Página principal</a>
            <a class="anchor_button" th:href="@{/businesses}">Negocios</a>
            <a class="anchor_button" th:href="@{/tips?page=1}">Tips</a>
            <a class="anchor_button" th:href="@{/users?page=1}">Usuarios</a>
        </div>

    </body>
</html>

