<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Negocios</title>
    <link rel="icon" th:href="@{/images/mongodb_icon.svg}" type="image/svg+xml"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
    <link rel="stylesheet" th:href="@{/css/components/navigation_bar.css}"/>
    <link rel="stylesheet" th:href="@{/css/components/buttons.css}"/>
    <link rel="stylesheet" th:href="@{/css/components/business_card.css}"/>
</head>
<body>
    <div class="main-div">
        <div th:insert="~{components/navigation_bar :: navigation_bar}"></div>
        <div class="app-viewport">
            <div class="section-title">
                <p>LISTA DE NEGOCIOS</p>
            </div>
            <div class="section-content">
                <div th:each="business : ${businesses}">
                    <div th:replace="~{components/business_card :: business_card(${business.name}, ${business.city}, 
                         ${business.state}, ${business.address}, ${business.postalCode}, ${business.stars})}"></div>
                </div>
            </div>
            <footer>
                <p class="footer-text">&copy; 2025 - Saúl Rodríguez Naranjo | Máster en Big Data y Cloud Computing (UHU)
            </footer>
        </div>
    </div>
</body>
</html>

