<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Información de usuario</title>
    <link rel="icon" th:href="@{/images/mongodb_icon.svg}" type="image/svg+xml"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
    <link rel="stylesheet" th:href="@{/css/components/navigation_bar.css}"/>
    <link rel="stylesheet" th:href="@{/css/components/buttons.css}"/>
    <link rel="stylesheet" th:href="@{/css/components/pagination_menu.css}"/>
    <link rel="stylesheet" th:href="@{/css/components/user_card.css}"/>
</head>
<body>
    <div class="main-div">
        <div th:insert="~{components/navigation_bar :: navigation_bar}"></div>
        <div class="app-viewport">
            
            <div class="section-title">
                <p>INFORMACIÓN DE USUARIO</p>
            </div>
            
            <div class="user-information-section">
                <div class="user-information-container">
                    <div>
                        <img th:src="@{/images/useful.png}"/>
                        <div>

                        </div>
                        <div>

                        </div>
                    </div>
                    
                    <div>
                        
                    </div>
                </div>
            </div>
            
            <footer>
                <p class="footer-text">&copy; 2025 - Saúl Rodríguez Naranjo | Máster en Big Data y Cloud Computing (UHU)
            </footer>
        </div>
    </div>
    
    <script th:src="@{/js/user_page.js}"></script>
</body>
</html>

